    <link rel="stylesheet" href="~/lib/browser_support.css" />
  <div class="wrapper">
    <h1 class="not-supported-page-title">
      Oh snap! We don't support this version of your browser, <em>and neither should you!</em>
    </h1>

    <p class="not-supported-intro">
      You are visiting this page because we detected an unsupported browser. Your browser does not support security features that we require. We highly recommend that you update your browser. If you believe you have arrived here in error, please <a href="mailto:support@hackerone.com">contact us</a>. Be sure to include your browser version.
    </p>

    <div class="browsers-container">
      <h2 class="supported-intro">These are the ones we recommend:</h2>

      <ul class="supported-browsers-list">
        <li class="supported-browsers-list-item browser-chrome">
          <div class="supported-browser-information">
            Google Chrome
          </div>
          <div class="supported-browser-download">
            <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank" rel="noopener">
              Download latest
            </a>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="supported-browsers-list-item browser-firefox">
          <div class="supported-browser-information">
            Mozilla Firefox
          </div>
          <div class="supported-browser-download">
            <a href="https://www.mozilla.org/firefox/all/" target="_blank" rel="noopener">
              Download latest
            </a>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="supported-browsers-list-item browser-opera">
          <div class="supported-browser-information">
            Opera
          </div>
          <div class="supported-browser-download">
            <a href="http://www.opera.com/download/get/" target="_blank" rel="noopener">
              Download latest
            </a>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="supported-browsers-list-item browser-safari">
          <div class="supported-browser-information">
            Apple Safari
          </div>
          <div class="supported-browser-download">
            <a href="https://itunes.apple.com/us/app/os-x-yosemite/id915041082"
               target="_blank"
               rel="noopener">
              Upgrade your OS
            </a>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>